parameters:
    level: max
    paths:
        - ./

    excludes_analyse:
        - ./bin
        - ./.github
        - ./coverage
        - ./vendor
        - ./phpinsights.php
        - ./phpunit-filter.php
